* {
  font-family: "Lobster Two", cursive;
  overflow: hidden;
}
body {
  background-color: #fffcf6;
}

header {
  display: flex;
  align-items: center;
  padding: 0.2em;
  background-color: #fff3df;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#food {
  color: #8a151b;
}
#planet {
  color: #f29400;
}
.chat-window {
  width: 40%;
  height: 400px;
  margin: 5px auto;
  background-color: #f7f7f7;
  border-radius: 5px;
  overflow-y: scroll;
  box-shadow: 0 1px 2px 0 #ccc, 0 1px 3px 0 #f29400;
}
#chat-history {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.conversation {
  height: 320px;
  width: 50%;
  padding: 10px;
  overflow-y: none;
}

.chat-text {
  background-color: #fff3df;
  border-radius: 5%;
  padding: 2%;
  width: 50%;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #fff;
}

.message-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-btn {
  background-color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 2%;
}

.bot {
  display: flex;
  align-items: center;
}

.bot-avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.bot-message {
  flex-grow: 1;
  background-color: #eceff1;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-start;
  margin-bottom: 8px;
}
.chat-message {
  padding: 10px;
  align-self: flex-end;
  max-width: 30%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 5px;
}
footer {
  background-color: #fff3df;
  border-top: 1px solid #ccc;
  width: 100%;
}
.footer-text {
  text-align: center;
}
.footer-text a {
  font-family: "Lobster Two", cursive;
  text-decoration: none;
  color: #000;
}

.footer-text a:hover {
  color: #8a151b;
  text-decoration: underline;
}
